.field
{
    color: black !important;
    height: 15px;
    width: 30%;
    border-radius: 6px;
    padding: 5px;
    border: 1px solid #ced4da;
    margin-bottom: 5px;
}

.selectField
{
    height: 30px!important;
}

.fieldError
{
    border-color: red;
    color : red;
}